body{ 
    margin: 0px;
    font-family: 'Mukta', sans-serif;
    background-color: #fd0a9a;
}

header {
    background-color: #db8fbe ;
    letter-spacing:5px;
    font-size: 15px;
    font-family: 'Lobster Two', cursive;
    padding: 5px;
    display: flex;
    align-items: center;
}

.swiper-container {
    height: 350px;
    width: 100%;
}
.logo {
    width: 300px
}

.header-right {
    text-align: right;
    width: 100%;
}

.dropdown {
  display: inline-block;
}

  .title {
    font-weight: 400;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    font-size: 75px;
    background-color: #fd0a9a
  }

  .Quote {
   
    justify-content: center;
    align-items: center;
    display:flex;
  }
  .P1 {
    text-align: center;
    font-size: 20px;
    background-color: #fd0a9a
  }
  .P2 {
    text-align: center;
    
  }
  
  .header {
    width: 100%;
    display: flex;
  }
  .header-logo{
    flex: 1;
  }
  .pic {
    width: 100px;
    height: 100px;
    
  }
  .img1 { 
    width: 300px;
    height: 300px;

  }
  .img2 {
    width: 300px;
    height: 300px;
  }
  

  .swiper-container {
    width: 90%;
    margin: 25px auto !important;
    border-radius: 6px;
  }

  .swiper-slide {
    background-repeat: no-repeat;
    background-color: white;
  }

  .slide1 {
    background-image: url('./images/slide_1.png');
  }

  .slide2 {
    background-image: url('./images/slide_2.png');
  }

  .slide3 {
    background-image: url('./images/slide_3.png');
  }

  .slide4 {
    background-image: url('./images/slide_4.png');
  }
  
  .slide5 {
    background-image: url('./images/slide_5.png');
  }

  .slide6 {
    background-image: url('./images/slide_6.png');
  }
  .title2 { 
    font-weight: 400;
    font-family:  'Great Vibes', cursive;
    text-align: center;
    font-size: 75px;
    background-color: #fd0a9a
  }
  .img3 { 
    width: 300px;
    height: 450px;
    align-content: center;
  }

  .img3-container {
    text-align: center;
  }